.bg{
    width: 1300px;
    background-color: rgb(21, 21, 109);
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 80px 12px;
}


.container{
    width: 1200px;
    margin: auto;
    border: 2px silver;
    background-color:  rgb(21, 21, 109);
}

 .row{
    display: flex;
    flex-wrap: wrap;
   
}

.box5{
    width: 40%;
    margin: auto;
   
    background-color: rgb(21, 21, 109);
    color: white;
    padding: 40px 35px;
}
.box5 img{
    width: 75%;
}


.box5 h2 img{
    width: 25%;
    margin: auto;
   
}

.b1{
    width: 100%;
    margin: auto;
   border: 2px solid rgb(66, 66, 66);
    background-color: rgb(21, 21, 109);
    display: flex;
    border-radius: 10px;
}
.signUp{
    width: 25%;
    margin: auto;
    padding: 11px 15px;
    background-color: rgb(74, 140, 216);
    color: white;
    font-size: 15px;
}
 .link{
    text-decoration: none;
    color: rgb(64, 175, 226);

}

.box3{
    width: 25%;
    margin: auto;
    border: 2px solid rgb(66, 66, 66);
   border-radius: 0px 85px 0px 0px;
   background-color:rgb(21, 21, 109);
   color: white;
   font-size: 16px;
   padding: 20px 6px;
}
