.container {
    width: 1200px;
    margin: auto;
 /*   border: 2px rgb(46, 1, 65);*/
}

.row {
    display: flex;
    flex-wrap: wrap;
   
    width: 95%;
    margin: auto;
  padding: 50px;
margin-top: 18%;
border-color: 5px solid black;
}


.box1 {
    width: 43%;
    margin: auto;
   
    display: flex;
border-radius: 10px;
color: rgb(34, 13, 83);
padding: 15px 25px;
font-size: 18px;
font-weight: bold;
border: 0.5px solid rgb(211, 211, 211);
    box-shadow: 3px 3px  rgb(221, 221, 221);
box-shadow: 3px 3px  rgb(221, 221, 221);
}



.box1  img {
    width: 45%;
     margin: auto;
  float: right;
  padding: 15px 16px;

 background-color: rgb(171, 242, 246);
}





.box2 {
    width: 40%;
    margin: auto;
   
    display: flex;
    border-radius: 10px;
    color: rgb(67, 47, 116);
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
   border: 0.5px solid #d3d3d3;
    box-shadow: 3px 3px  rgb(221, 221, 221);
  
}

.box2 img {
    width:90%;
    margin: auto;
    padding: 15px 16px;
    float: right;
    backface-visibility: inherit;
    background-color: bisque;
}